.signup {
    display : flex;
    margin : 40px 20%;
    box-shadow : 0 10px 10px;
    border : none;
    border-radius : 15px;
    text-transform : capitalize;
    font-family : font2;
    font-weight : 200;
    overflow : hidden;
}
form , form input,form label{
    display : block;
    width : 100% ;
}
.signupW {
    padding : 60px 30px;
    width : 70%;
    transition: 0.3s;
    background-color:rgb(250, 250, 250);
}
.signupW > span {
    text-align : center;
    font-size : 45px;
    color : #508b7f;
    margin-bottom : 10px;
    display : block;
}
.signImg {
    background-image : url("../imgs/signup.jpg");
    background-size : cover;
    width : 50%;
}
input{
    transition: 0.2s;
}
input:hover{
    background-color: rgb(235, 235, 235);
    transform: scale(1.008);
}
.inputLabels {
    margin-bottom : 10px;
    display : block;
    font-size : 20px;
}
form input:nth-child(4),form input:nth-child(2),form input:nth-child(6),
input:nth-child(8),input:nth-child(10){ 
    padding : 10px;
    border-radius : 10px;
    border : solid #508b7f 1px;
    margin-bottom : 10px;
    font-weight : 100;
    font-size : 20px;
}
button {
    width : 100%;
    padding : 10px;
    background-color :#508b7f;
    color : white;
    border-radius : 7px;
    border : none;
    margin-top : 10px;
    transition : 0.3s
}
button:hover{ 
    background-color :#456962;
    transform: translateY(-3px);
}
.errorssignup{
    background-color : rgb(153, 107, 107);
    color : white;
    font-weight : 100;
    border-radius : 10px;
}
.errorssignup span {
    display : block;
    padding: 3px 10px;
}
#error1,#error2,#error3,#error4,#emexist{
    display : none;
}
#succes{
    border-radius : 10px;
    background-color: #519460;
    padding: 3px 10px;
    color : white;
    display : none;
}
@media screen and (max-width : 768px ){
    .sign {
        margin : 40px 10%;
    }
}
@media screen and (max-width : 725px ){
    .signImg{
        display : none;
    }
    .signupW {
        padding : 80px 30px;
        width : 100%;
    }
    main{
        background-size : cover;
    }
    .signup {
        margin-top : 30px;
        margin-bottom : 30px;
    }
    footer { 
        margin-top :0 ;
    }
    .firstRow {
        border-radius : 0;
    }
    main { 
        padding : 20px;
    }
}
@media screen and (max-width : 443px ){
    .signup {
        margin : 40px 1%;
    }   
    .signupW {
        padding : 80px 15px;
    }
    form a,form span{
        font-size : 13px;
    }
}
