@font-face {
    font-family: font1;
    src: url("../fonts/ElmsSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: font2;
    src: url("../css/fonts/StackSansHeadline-VariableFont_wght.ttf")
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: none;
    text-decoration: none;
}

header,
.firstRow,
.secondRow {
    padding: 20px 7%;
    background-color: #4B6F68;
    color: #D9BB80;
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
}

header,
.secondRow {
    align-items: center;
}

.logo {
    font-size: 25px;
    border: dashed #D9BB80 1px;
}
main {
    text-transform : capitalize;
}
header ul li {
    color: #D9BB80;
    letter-spacing: 2px;
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    font-size: 15px;
    padding: 5px;
    transition: 0.2s;
    text-transform: uppercase;
}

header ul li:hover {
    border-bottom: solid #D9BB80 2px;
}

.active {
    border-bottom: solid #D9BB80 2px;
}

.listForMobile {
    display: none;
}

body,
header {
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.57);

}

/*imge under header*/
.img-foot {
    background-image: url(../imgs/foot.jpeg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*Title of bage*/
.content .title {
    color: #000000;
    border-bottom: #4B6F68 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    width: fit-content;
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.57);
    padding : 20px;
    margin-left : auto;
    margin-right : auto;
}


/* Utilities Hotel */
.content .title .title-upper {
    font-weight: bold;
    font-size: 50px;
    font-family : font3;
    
}

/*Text Utilities */
.first-para {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 80px;
    font-family : Bell MT;
    
}

.second-para {
    text-align: center;
    font-size: 20px;
    width : 50%;
    margin : 5px 25%;
    font-family : font1;
   
    letter-spacing: 2px;
}

/*Titles of Div*/
.title-section {
    color: #000000;
    margin-top: 90px;
    justify-content: space-evenly;
    align-items: center;
    margin-left:  20%;
    width: fit-content;
    border-radius: 25px;
    font-size: 30px;
    margin-bottom: 30px;
    font-family : Bell MT;
    border-bottom: #4B6F68 3px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding : 20px
}


/*Divs*/
.rest1,
.rest2,
.beach,
.gym,
.spa,
.roof,
.cabanas {
    background-color: #c9c9c9;
    margin-top: 10px;
    border-radius: 5px;
    width: 60%;
    margin-left : 20%;
    min-height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.57);
    transition: 0.7s;
    font-family : font2;
    padding : 10px;
}

/*Div of images & decription */
.img,
.descri,
.img2,
.descri2,
.img-gym,
.descri-gym,
.img-roof,
.descri-roof,
.img-sea,
.descri-sea,
.img-spa,
.descri-spa,
.img-cabanas,
.descri-cabanas {
    background-color: #ffffff;
    width: 46%;
    height: 270px;
}

/*Div of description */
.descri,
.descri2,
.descri-gym,
.descri-roof,
.descri-sea,
.descri-spa,
.descri-cabanas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.57);
    background-position: center;
    transition: transform 0.6s ease;
    position: relative;
    font-size: 16.5px;
    font-weight: bold;
}

/*Div of description >>hover  */
.descri:hover,
.descri2:hover,
.descri-gym:hover,
.descri-roof:hover,
.descri-sea:hover,
.descri-spa:hover,
.descri-cabanas:hover {
    transform: scale(1.1);
    z-index: 20;
    /* important */

}

/*Div of images */
.img,
.img2,
.img-gym,
.img-spa,
.img-roof,
.img-sea,
.img-cabanas {
    background-size: cover;
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.65);
    background-position: center;
    transition: transform 0.6s ease;
    position: relative;
}

/*Div of images & description>>hover */

.img2:hover,
.img-gym:hover,
.img-roof:hover,
.descri-cabanas:hover,
.descri-sea:hover,
.descri-spa:hover,
.descri:hover
{
    transform:translatex(-50px) scale(1.1);  
    z-index: 20;
  
    /* تخليها تطلع فوق اللي جنبها مهمه يا رجاله* */
}
.img:hover,
.img-cabanas:hover,
.img-sea:hover,
.img-spa:hover,
.descri2:hover,
.descri-gym:hover,
.descri-roof:hover

{
    transform:translatex(50px) scale(1.1);  
    z-index: 20;
  
    /* تخليها تطلع فوق اللي جنبها مهمه يا رجاله* */
}

/*<p> >> rating */
.rating,
.rating2,
.rating-gym,
.rating-sea,
.rating-spa,
.rating-roof,
.rating-cabanas {
    color: gold;
    font-size: 25px;
    transition: transform 0.3s;
}


/*imges */
/*Restaurant .1*/
.img {
    background-image: url(../imgs/restaurent.1.jpeg);
}

/*Restaurant .2*/
.img2 {
    background-image: url(../imgs/restaurent.2.jpeg);
}

/*Beach */
.img-sea {
    background-image: url(../imgs/booking.jpeg);

}

/*GYM*/
.img-gym {
    background-image: url(../imgs/gym.jpeg);
}

/*SPA*/
.img-spa {
    background-image: url(../imgs/spa.jpeg);
}

/*Rooftop*/
.img-roof {
    background-image: url(../imgs/Rooftop.jpeg);
}

/*Private Cabanas*/
.img-cabanas {
    background-image: url(../imgs/private\ cabanas.jpeg);
}

/*Tablet */
@media screen and (min-width :401px) and (max-width :768px) {

    .rest1,
    .rest2,
    .beach,
    .gym,
    .spa,
    .roof,
    .cabanas {
        width: 100%;

    }

    .descri,
    .descri2,
    .descri-gym,
    .descri-roof,
    .descri-sea,
    .descri-spa,
    .descri-cabanas {
        font-size: 14.5px;

    }
/*
    .img:active,
    .img-spa:active,
    .img-sea:active,
    .img-cabanas:active {
        transition: transform 0.3s ease;
        transform: translateX(100px) scale(1.1);
        z-index: 90;
    }

    .img-roof:active,
    .img2:active,
    .img-gym:active {
        transition: transform 0.3s ease;
        transform: translateX(-100px) scale(1.1);
        z-index: 90;
    }*/
}

/* mobile */
@media screen and (min-width :0px) and (max-width :400px) {

    .rest1,
    .rest2,
    .beach,
    .gym,
    .spa,
    .roof,
    .cabanas {
        width: 100%;
    }

    .descri,
    .descri2,
    .descri-gym,
    .descri-roof,
    .descri-sea,
    .descri-spa,
    .descri-cabanas {
        font-size: 12px;

    }
/*
    .img:active,
    .img-spa:active,
    .img-sea:active,
    .img-cabanas:active {
        transition: transform 0.3s ease;
        transform: translateX(100px) ;
        z-index: 90;
    }

    .img-roof:active,
    .img2:active,
    .img-gym:active {
        transition: transform 0.3s ease;
        transform: translateX(-100px);
        z-index: 90;
    }
*/
    }

.firstRow {
    display: block;
    width: 100%;
    padding: 40px 8%;

}

.secondRow {
    display: flex;
    justify-content: space-between;
    background-color: #385650;
}

footer {

    display: block;
}

.social {
    text-align: left;
    font-size: 20px;
}

.social i {
    transition: 0.3s;
}

.social i:hover {
    color: rgb(164, 164, 164)
}

.icon {
    margin-top: 10px;
}

.icon i {
    padding: 5px;
    font-size: 30px;
}

.links ul {
    font-size: 15px;
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.links ul li {
    font-size: 12px;
    margin-top: 5px;
    transition: 0.3s;
    color: #D9BB80;
    text-decoration: none;
    text-transform: uppercase;
}

.links ul li:hover {
    color: #aeaeae
}

.l1 {
    letter-spacing: 2px;
}

.l2 {
    letter-spacing: 5px;
}

.logoFooter {
    padding-top: 15px;
    color: #D9BB80;
    letter-spacing: 3px;
    font-size: 30px;

}

.logoFooter>span,
.logo {
    border: solid #D9BB80 1px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    padding-left: 8px;
}

.logoFooter>span {
    margin-bottom: 10px;
}

.copyright {
    font-size: 15px;
    color: #D9BB80;
    letter-spacing: 2px;

}

li,
i {
    color: #D9BB80;
}

.massage p,
.massage span {
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.massage {
    width: 30%;
}

.footerWord {
    font-size: 15px;
    letter-spacing: 5px;
    border-bottom: solid 2px #D9BB80;
    padding: 0 3px 0px 10px;
    text-align: left;
    display: inline-block;
    margin: auto;
}

.mail {
    display: flex;
    align-items: center;
}

.mail {
    font-size: 15px;
}

.logoFooter>span {
    display: inline-block;
}

.sloganDescription {
    font-size: 10px;
}

.sloganDescription a {
    font-size: 15px;
}

.mobileLinks,
.quickLinksForMobile,
.logoFooterForMobile {
    display: none;
}

.footerForDesktop {
    display: flex;
    justify-content: space-around;
}

.theme {
    display: inline;
    padding: 10px;
    background-color: #385650;
    border-radius: 4px;
}

.theme img {
    vertical-align: bottom;
    margin: 0 7px;
    transition: 0.3s;
}

.theme img:hover {
    filter: grayscale(130%);
}

.theme li {
    margin-left: 0px;
    text-align: center;
}

.sloganFooter {
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}
.c0ntent  {
    margin : 20px 8%;
}
.utilities_table {
    width: 60%;
    margin: 70px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    table-layout : fixed;
    border-radius : 10px;
}

.utilities_table th {
    padding: 18px 24px;
    text-align: center;
}
.utilities_table th {
    border : none;
    color: #D9BB80;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.utilities_table td {
    padding: 18px 24px;
    text-align: center;
}

.utilities_table th {
    background-color: #4B6F68;
    color: #D9BB80;
    font-size: 24px;
    letter-spacing: 2px;

}

.utilities_table tbody tr:nth-child(2),
.utilities_table tbody tr:nth-child(4),
.utilities_table tbody tr:nth-child(6) {
    background-color: #f9f9f9;
}

.utilities_table tbody tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s ease;
}

.utilities_table td {
    color: #333333;
    font-size: 15px;
    line-height: 1.6;
    padding : 10 24px;
}

.utilities_table td:last-child {
    color: #FFD700;
    font-size: 20px;
    text-align: center;
}

.first-para {
    color: goldenrod;
}

.timetableheaderfortable {
    margin-left: 50px;
}

.firsttablerow:hover {
    background: url('../imgs/restaurent.1_table.jpeg');
}

.secondtablerow:hover {
    background: url('../imgs/restaurent.2_table.jpeg');
}

.thirdtablerow:hover {
    background: url('../imgs/beach_table.jpeg');
}

.fourthtablerow:hover {
    background: url('../imgs/gym_table.jpeg');
}

.fifthtablerow:hover {
    background: url('../imgs/spa_table.jpeg');
}

.sixthtablerow:hover {
    background: url('../imgs/Rooftop_table.jpeg');
}

.seventhtablerow {
    transition: 1s ease;
}

.seventhtablerow:hover {
    background: url('../imgs/private\ cabanas_table.jpeg');
}

.firsttablerow:hover,
.firsttablerow:hover td {
    color: white;
}

.secondtablerow:hover,
.secondtablerow:hover td {
    color: white;
}

.thirdtablerow:hover,
.thirdtablerow:hover td {
    color: white;
}

.fourthtablerow:hover,
.fourthtablerow:hover td {
    color: white;
}

.fifthtablerow:hover,
.fifthtablerow:hover td {
    color: white;
}

.sixthtablerow:hover,
.sixthtablerow:hover td {
    color: white;
}

.seventhtablerow:hover,
.seventhtablerow:hover td {
    color: white;
}

.utilities_table tbody tr {
    transition: 1s ease;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width : 980px) {
    .rest1, .rest2,
    .beach, .gym, .spa, .roof, .cabanas,.utilities_table {
        width: 70%;
        margin-left : auto ;
        margin-right : auto ;
    }
    .title-section {
        margin-left : 15%;
    }
    .utilities_table td,.utilities_table th{
        font-size : 18px;
    }
    .utilities_table i {
        font-size : 15px;
    }
}
@media screen and (max-width : 800px) {
    .rest1, .rest2,
    .beach, .gym, .spa, .roof, .cabanas,.utilities_table {
        width: 90%;
        margin-left : auto ;
        margin-right : auto ;
    }
    .title-section {
        margin-left : 10%;
    }
    .second-para {
        width : 80%;
        margin: auto;
    }
    .first-para {
        font-size : 40px;
    }
    .utilities_table td,.utilities_table th{
        padding : 5px;
        font-size : 16px;
    }
    .utilities_table i {
        font-size : 12px;
    }
}
@media screen and (max-width : 680px) {
    .rest1, .rest2,
    .beach, .gym, .spa, .roof, .cabanas,.utilities_table {
       
        font-size : 10px;
        
    }
    .img,
    .img2,
    .img-gym,
    .img-roof,
    .img-sea,
    .img-spa,
    .img-cabanas{
        width: 50%;
    }
    .descri,
    .descri2,
    .descri-gym,
    .descri-roof,
    .descri-sea,
    .descri-spa,
    .descri-cabanas {
        width: 50%;
    }
}
@media screen and (max-width : 560px) {
    .second-para {
        width : 80%;
        margin: auto;
    }
    .first-para {
        font-size : 30px;
    }
        .second-para {
        width : 80%;
        margin: auto;
        font-size : 20px;
    }
}
@media screen and (max-width : 480px) {
    .content .title .title-upper {
        font-size: 25px;
        
    }
    .utilities_table {
        padding : 0px;
    }
    .utilities_table td,.utilities_table th{
        font-size : 12px;
        padding : 5px;
    }
    .utilities_table i {
        font-size : 8px;
    }
    .rating-roof {
        font-size : 15px;
    }
    .first-para {
        font-size : 25px;
    }
    .second-para {
        font-size : 15px;
    }
}
